## Sublime metadata files to ignore
*.sublime-project
*.sublime-workspace

## generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out
*.pyc
*.pyo
*.egg-info
.Python
.cache
.eggs
#.*

# YABT stuff
build
dist
yabtwork
ybt_bin

# Python Testing
.tox
.coverage
.pytest_cache

ybtenv/
.vscode/