#!/bin/bash

# to add more args to the docker command set a var YBT_DOCKER_OPTS:
# YBT_DOCKER_OPTS='-e FOO=bar' $0

fd=0
[[ -t "$fd" || -p /dev/stdin ]] && IT="-it" || IT=""


# Command for running Docker image `{image_name}'
echo docker run {docker_opts} {default_opts} $YBT_DOCKER_OPTS {image_name} $@
docker run {docker_opts} {default_opts} $YBT_DOCKER_OPTS {image_id} $@
